<% include partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-12" style="text-align: center;">
            <h1>Add A New Place</h1>
        </div>
        <div class="col-md-4" style="margin: 0 auto;">
            <form action="/newHotel" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" name="name" placeholder="name">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="image" placeholder="url image">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="country" placeholder="country">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="city" placeholder="city">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="minPrice" placeholder="Minimal Price">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="maxPrice" placeholder="Maximal Price">
                </div>
                <div class="form-group">
                    <textarea name="description" cols="30" rows="10" placeholder="Description" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-success btn-block">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<% include partials/footer %>